body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: #302c44;
  }
.topnav {
    overflow: hidden;
    background-color: #333;
    /* display: inline; */
  }
#navbar{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#navbar li {
    flex:1;
    border-right: 1px solid #bbb;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
#navbar li a:hover:not(.active) {
    background-color: #111;
  }
.active {
    background-color: #111;
  }

.currentWindowButtons {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;

}
button {
    border-radius: 25px;
    background-color: #4CAF50; 
    border: 1px solid  #4CAF50;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
  
  }

#ListOfTabs #label{
  background-color:white;
  width: 100%;
  display:flex;
  align-items: center;
  border-bottom: 1px solid #dadada;
  /* border-top: 1px solid #dadada; */
  padding-top: 5%;
}



#ListOfTabs #name {
  /* background-color: bisque; */
  margin-left: 10%;
}

.folder_div{
  background-color:white;
  width: 100%;
  display:flex;

  border-bottom: 1px solid #dadada;
  
  padding-top: 5%;
}
.content_div {
    justify-content: space-evenly;
    /* background-color: #111; */
    width: 100%;
}

.checkbox_saved{
  /* margin-right: 20%; */
 
}




